<!DOCTYPE html>
<html>
<!-- Header -->
<head>
    <title>Menfess!</title>
    <link rel="icon" href="images/Menfess.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2998592050723815"
     crossorigin="anonymous"></script>

</head>
<script src="main.js"></script>
<!-- Body(Tampilan) -->
<body>
<!--Sidebar(Sekarang sudah jadi Top Bar)-->
<div class="sidebar">
  <!--Untuk Tombol Tombol Yang Tersedia, ditaruh didalam sebuah Navigation-->
  <nav>
    <a onClick="window.location.reload();"><img src="/images/Menfess.png"  alt="Profile Picture"></a>
    <a onclick="myFunction()"><img src="https://th.bing.com/th/id/R.6e08e7ceb9236d9b9f5b20311a94fcb2?rik=76Jpiull8WpRtQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_84809.png&ehk=mQdz5N19LTRG%2bk9CWZL2dGd%2f0KxjuNQd%2fQ1ZqEupx5A%3d&risl=&pid=ImgRaw&r=0"  alt="Profile Picture"></a></a>
    <a onClick="window.location.reload();"><img src="https://th.bing.com/th/id/OIP._RTO9yp1xH5aQA0vS7fpHAHaHW?pid=ImgDet&rs=1"></a>
    <a href="/"><img src="https://purepng.com/public/uploads/large/heart-icon-jst.png"></a>
    <a href="https://Menfess-1.mfathinhalim.repl.co"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Info_icon_001.svg/1024px-Info_icon_001.svg.png"></a></a>
  </nav>

  <!--Teks Doank-->
  <h3>Menfess!!</h3>
  <h3 style="color: #D8B9C3;">©Created By <strong>M.Fathin Halim</strong></h3>

</div>

<!-- Script -->
<!--JS-->
<script src="/js/main.js"></script>
<script>
    // Fungsi untuk menampilkan form komentar
    function showComment(noteId) {
        var x = document.getElementById("testt" + noteId);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

</body>
</html>
