@font-face {
	font-family: 'Comicsans';
	src: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media print {
	html, body {
	display: none;  /* hide whole page */
	}
}
@import url(https://fonts.googleapis.com/css?family=Khula:700);
html {
	scroll-behavior: smooth
}
body {
	/*font-family:'Courier New', Courier, monospace;*/
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	background-repeat: no-repeat;
	background-color: #262626;

	background-attachment: fixed;
	background-position: center;    
	text-align: center;
	scrollbar-width: none;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}


.reveal{
	position: relative;

	visibility: hidden;
	transition: 2s all ease;
  }
  .reveal.active{
	transform: translateY(0);
	visibility: visible;
  }
@keyframes fadeInAnimation {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
.console-container {

	font-size:3vw;
	text-align:center;
	height:3vw;
	color:#E16428;

}
h3, h4, h1{
	color:#EEEEEE;
}

.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  background-color: #2d9fd9;
  border-radius: 24px;

  height: fit-content;
  max-height: 500px;
  padding: 10px;
  margin-top: 10px;	

	overflow-y: auto;
}

.card2 > * {
  height: 100%;
}
.card4 {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  background-color: white;
  border-radius: 24px;
  height: fit-content;
  max-height: 500px;
  padding: 10px;
  margin-top: 10px;	

	overflow-x: hidden;
	
}
/* Gaya dasar untuk tombol */
.pagination a {
    display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	background-color: #ffffff;
	color:#311616;
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	font-size: 2vw;
	flex-basis: 25%;
	transition: all .2s ease-in-out;
	border:none;
	opacity:1;    
  }

  /* Gaya saat cursor diarahkan ke tombol */
  .pagination a:hover {
    opacity:0.8;
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
  }

  /* Gaya saat tombol aktif */
  .pagination a.active {
    opacity:0.8;
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
  }
button{

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	background-color: #FFFF;
	color:#262626;
	border-radius: 20px;
	text-align: center;
	font-size: 5vw;
	transition: all .2s ease-in-out;
	border:none;
	opacity:1;        
}
label{
	flex: 1 1 0px;
	flex-flow: wrap;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	background-color: #864879;
	color:#EEEEEE;
	border-radius: 20px;
	padding: 20px;

	text-align: center;
	font-size: 1vw;
	flex-basis: 25%;
	transition: all .2s ease-in-out;
	border:none;
	opacity:1;        
}
label:hover{
	opacity:0.8;
	transform: scale(1.1);
}
img:hover{
	opacity:0.8;
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
img:active{
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
.imgland{
	margin-top: 10px;
	rotate : -90deg;
	width: 15vw;
	border-radius: 24px;
	transition: all .2s ease-in-out;
	
}
.imgland:hover{
	opacity:0.8;
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
}
#fotosekolah{
	margin-top:10px;
	width: 50vw;
	border-radius: 24px;
	transition: all .2s ease-in-out;
}
.container {
	width: 800px;
	border: 2px solid black;
	margin: 0 auto;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.box {
	flex-basis: 25%;
	text-align: center;
	flex-grow: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	background-color: #2f2828;
	border-radius: 24px;
	margin-top: 20px;
}
a {
	color:#827397;
}
#content {
	display: flex;
	flex-direction: column;
}
button:hover{
	opacity:0.8;
	transform: scale(1.1);
}
img{
	margin:10px;
	width: 25vw;
	border-radius: 24px;
	transition: all .2s ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	opacity: 1;
	
}
strong{
	color:#262626;
	
}
	
#oren{
	color: #262626;
}
button:active{transform: scale(0.9);}
@import url(https://fonts.googleapis.com/css?family=Khula:700);
@media screen and (max-width: 779px) {
	.background{
		flex-direction: column;
	}
	.sidebar img{
		height: auto;
		max-height: 50px;
		border-radius: 50%;
		opacity: 1;
		height: auto;
	margin: 20px;
	}
	
	#comment{
		max-width: 300px;
	}
  #link {
    font-size: 4vw;
  }
	body {
		font-size: 6vw;
	}
	
	header{
		font-size: 6vw;
	}
	
	.sidebar {
		height: 90px;
		overflow-x: auto;
	}
	.sidebar button{
		font-size: 20px;
	}
	.card2{
		max-height: 1000px;
	}

	img{
		height: auto;
		max-height: 200px;
		width: auto;
		max-width: 200px;
		object-fit: contain;
	}
	button{
		font-size:6vw;
	}

	#main{
		margin-top: 160px;
	}
		
	  nav a:hover {
		transform: scale(1.1);
	  }

	  
	  #main{
		  padding-left: 0px;
		}
	}
	@keyframes reveal {
		0% {
			transform: translate(0,100%);
	}
	100% {
	  transform: translate(0,0);
	}
}
#testt{
	visibility: hidden;
}
#myVideo {
  width: 320px; /* Set a fixed width for desktop */
  height: 480px; /* Set a fixed height for desktop */
  object-fit: cover; /* Use object-fit property to fill the video element within its container */
}
.sidebar {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	background-image: linear-gradient(56deg, rgba(16,142,230,1) 0%, rgba(179,63,255,1) 100%);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	
}
@media screen and (min-width: 780px){
	#myVideo {
    width: 240px; /* Set a smaller width for larger screens */
    height: 320px; /* Set a smaller height for larger screens */
  }
	#comment{
		max-width: 320px;
	}
  #link {
    font-size: 2vw;
  }
	#mainn {
		display: grid;
		grid-template-rows: repeat(auto-fit, minmax(100px, auto));
		grid-template-columns: 1fr 1fr;
		margin-top: 10px;
		grid-gap: 10px;
		justify-content: center;
		align-items: start;
	  }	  
	  
	#table2{
		display: grid;
		grid-template-rows: repeat(auto-fit, minmax(100px, auto));
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		justify-content: center;
		align-content: start;
		grid-auto-rows: min-content;
	}
	

	  .card2::-webkit-scrollbar {
		width: 5px;
		height: 70%;
		background-color: #4C3575;
	  }
	  #hehe{
		height: auto;
		max-height: 500px; /* set the height to your desired fixed size */
		overflow-y: auto;  
		overflow-x: hidden;
	  }
		#hehevid{
			height: fit-content;
			overflow-x: hidden;
			}

	  .sidebar img{
		  width: 50px;
		  border-radius: 50%;
			opacity: 1;
		margin: 20px;
	  }
	  #about {
		margin-bottom: auto;
		flex-grow: 1;
		align-self: flex-end;
		transform: translateY(-100%);
		margin-top: 70px;
		top:70px;
	  }
	  .profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
	  }
	  
	  .profile img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-bottom: 10px;
	  }
	  
	  nav a {
		padding-left: 20px;
		font-size: 2.7vw;
		text-decoration: none;
		color: black;
		transition: all .2s ease-in-out;
	}
	.sidebar h3{
    margin: 20px;
	}


	nav a:hover {
		-webkit-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5);
	  }
	  nav a :hover > :not(:hover){
		opacity: .4;
	  }
	  img {
		height: auto;
		max-height: 300px;
		width: auto;
		max-width: 300px;
		object-fit: contain;
		margin-left: auto;
		margin-right: auto;
		transition: transform 0.2s ease-in-out;
	  }
	  
	  img:hover {
		opacity: 0.8;
		transform-origin: center;
		transform: scale(1.5);
	  }
	  

	body {
		font-size: 2vw;
	}
	button{
		font-size:1.5vw;
	}
	header{
		font-size: 2vw;
	}
	button:active{transform: scale(0.9);}
	#main{

		padding-top: 70px;
	}

}
.float{
	position:fixed;
	width:100px;
	height:100px;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	opacity: 0.3;
	box-shadow: 2px 2px 3px #999;
	}
.float2{
	width:50px;
	height:50px;
	bottom:40px;
	left:40px;
	color:#FFF;
	border-radius:50px;
	opacity: 0.3;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	}
button[type=button]{
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  border-radius: 24px;
  height: fit-content;
  max-height: 290px;
  padding: 10px;
  margin-top: 10px;	

	overflow-y: auto;
}
#reload {
	overflow: hidden;
	width:100px;
	height:100px;
	bottom:40px;
	left:40px;
	color:#FFF;
	border-radius:50px;
	opacity: 0.3;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  
}	
#reload.hidden {
  transform: scaleY(0);
}


.background {
  position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  display: none;
}
#choose {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
input[type=text]{
	 width: auto;
     max-width: 150px;
	 text-align: center;
     height: 30px;
		margin: 5px;
    }


	
	
#background {
	animation: fade 1s linear;
}
	
@keyframes fade {
  	from { opacity: 0 }
	to { opacity: 1 }
}

.sidebar button{
	margin: 20px;
	text-align: center;
}


.sidebar h3 {
	font-size: 35px;
}
